<div class="prod-images">
  <ng-template #selectedTemplate let-prodImage>
    <img class="img-main" src="/assets/images/{{prodImage?.imgUrl}}">
  </ng-template>

  <app-vert-tabs
    [initialTab]="initialTab"
    [tabs]="prodImages"
    (selectionChanged)="selectedTab = $event"
    [selectedTemplate]="selectedTemplate"
  >
    <!-- Using @ContentChild to pass template into component tab -->
    <ng-template class="tab-content" #tabTemplate let-prodImage let-id="index">
      <div class="tab" [class.tab-selected]="selectedTab === prodImage">
        <img class="img-tab" src="/assets/images/{{prodImage?.thumbUrl}}">
      </div>
    </ng-template>
  </app-vert-tabs>
</div>