.resort-promo {
  max-width: 750px;
  height: 420px;
  margin: 20px;
}
.tab {
  padding: 1rem;
  white-space: nowrap;
}
.tab:hover {
  cursor: pointer;
  border-left: 5px solid pink;
  padding-left: calc(1rem - 5px);
}
.tab-selected {
  border-left: 5px solid red !important;
  padding-left: calc(1rem - 5px);
}
.tab-main {
  width: 600px;
  height: 100%;
  background-color: #eefeff;
}
.img-tab {
  width: 600px;
}
.tab-description {
  padding-right: 30px;
}